h1 {
    font-size: xxx-large;
    margin-bottom: 6rem;
}

.edit-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.new-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.edit-form {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.edit-button {
    position: fixed;
    bottom: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

p {
    display: flex;
    justify-content: center;
}

ul {
    text-align: center;
}

img {
    margin-top: 3rem;
    margin-bottom: 3rem;
}